
.collection{
    background-image: url('../assets/images/bg_HEADER.svg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
height: 95vh;
    flex-grow: 1; 
}
.lweft {
    padding-left: 70px !important;
    margin-top: 30px;
   
    
  }
  .MAINHEADER {
    padding-top: -80px; 
  }
  .right{
    margin: 0 !important;
    padding: 0 !important;
  }
.collection img {
    width:100%;
    height:55%;
    object-fit:scale-down
    ;
}
.nce h2{
    padding: 5px;

}
.nce p{
    padding: 5px;

}
.MAINHEADER {
    overflow: hidden;
    height:90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0;
}
/*  */
.col-lg-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  

h2 {
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
}

h2 .Easily {
    color:#1572D3;
    font-weight: 700;
    font-size: 28px;
  
}

p {
    font-size: 15px;
    color: #555;
    margin-top: 5px;
    line-height: 1.5;
    font-weight: 400;
}

.KSAR {
    display: flex;
    gap: 10px !important;
  
  
}

.KSAR img {
    width: 120px;
    height: 100%;
}
.lweft{
   padding-left: 120px !important; 
  
  display: flex;
  flex-direction: column;

}
@media screen and (max-width:1024px) {
    @media screen and (max-width:1024px) {
        .lweft {
            padding: 0 !important;
            margin: auto !important;
            display: flex;
            flex-direction: column;
            justify-content: center !important;
            align-items: center !important;
            text-align: center !important;
            width: 100%; 
        }
    }
    
      .MAINHEADER {
        padding-top: -80px; 
      }
  .collection{
   background-image: none;
    height:auto;
  }
  .KSARRRR {
display: flex;
justify-content: center !important;
align-items: center !important;
flex-direction: column;
text-align: center !important;
margin: auto; 
}
.lweft{ 
display: flex;
flex-direction: column;
padding: 0;

}
.nce{
 padding: 10px;
 letter-spacing: 2px;
}
.collection img {
width:100%;
height: 330px;

}
.KSAR {
    display: flex;
    gap: 50px !important;
  
  
}
.sure{
    display: flex;
    justify-content: center !important;
}
.collection {

    height: 100%;          
    overflow: hidden;      
    position: relative;
    display: block;        
    margin: 0;
    padding: 0;
  }

 
  .collection img {
    position: relative; 
    width: 100%;       
    height:100%;        
    margin-left: 0 !important; 
    object-fit: contain; 
  
  }
  .sure h2{
   font-size: 34px;
   font-weight: 700;
   letter-spacing: 3px;

  
}

}
@media(min-width:555px) and (max-width:1024px){
    .collection {

        height: 100%;          
        overflow: hidden;      
        position: relative;
        display: block;        
        margin: 0;
        padding: 0;
      }
      .lweft {
        padding:0;
        margin-top: 10px !important;
        margin: auto;
        justify-content: center;
        display: flex;
        align-items: center;
        
      }
     
      .collection img {
        position: relative; 
        width: 100vw;       
        height:100%;    
         
        margin-left: 0; 
        object-fit: contain; 
        max-width: none;    
      }
}

